@use "../../global/colors" as color;
@use "../../utils" as u;
.top__wrapper {
  width: 100%;
  height: u.rem(636);
  background: linear-gradient(180deg, rgba(16, 16, 20, 1) 0%, rgba(20, 20, 26, 1) 56%, rgba(40, 40, 49, 1) 100%);
  padding: u.rem(147) 0 0 u.rem(302);
  position: relative;
  h1 {
    opacity: 0;
    visibility: hidden;
    font-size: u.rem(56);
    font-weight: 300;
    color: color.$white-introduction;
    // animation: textAnimationIntro 0.8s ease 1s 1 forwards;
  }
  p {
    opacity: 0;
    visibility: hidden;
    margin-top: 1rem;
    font-size: u.rem(20);
    // animation: textAnimationIntro 0.8s ease 1.1s 1 forwards;
  }
  .button__wrapper {
    opacity: 0;
    visibility: hidden;
    margin-top: u.rem(36);
    // animation: textAnimationIntro 0.8s ease 1.2s 1 forwards;
    @include u.flexAlignJustify(center);
  }
  .product__preview {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 5%;
    right: 8%;
    z-index: 2;
    // animation: imgAnimationIntro 0.5s ease-in 1.4s 1 forwards;
  }
  &.trigger--animation {
    h1 {
      animation: textAnimationIntro 0.8s ease 1s 1 forwards;
    }
    p {
      animation: textAnimationIntro 0.8s ease 1.1s 1 forwards;
    }
    .button__wrapper {
      animation: textAnimationIntro 0.8s ease 1.2s 1 forwards;
    }
    .product__preview {
      animation: imgAnimationIntro 0.5s ease-in 1.4s 1 forwards;
    }
  }
}
@keyframes textAnimationIntro {
  from {
    transform: translateX(5%);
    opacity: 0;
    visibility: hidden;
  }
  to {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes imgAnimationIntro {
  from {
    transform: translate(10%, -10%);
    opacity: 0;
    visibility: hidden;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
  }
}
.mid__wrapper {
  .shapedividers {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: u.rem(1000);
    background: linear-gradient(
      45deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(250, 231, 223, 1) 41%,
      rgba(220, 199, 216, 1) 78%,
      rgba(195, 179, 216, 1) 100%
    );
    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: -1px;
      right: -1px;
      top: -1px;
      z-index: 3;
      pointer-events: none;
      background-repeat: no-repeat;
      background-size: 153% 130px;
      background-position: 50% 100%;
      background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http:\/\/www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M35.28 1.16c-3.17-.8-7.3.4-10.04.56-2.76.17-9.25-1.47-12.68-1.3-3.42.16-4.64.84-7.04.86C3.12 1.31 0 .4 0 .4v1.77h35.28z" fill="%23ffffff"/></svg>');
      @include u.breakpoint(small) {
        background-size: 155% 238px;
        background-position: 50% 100%;
      }
      @include u.breakpoint(medium) {
        bottom: -0.1vw;
        left: -0.1vw;
        right: -0.1vw;
        top: -0.1vw;
        background-size: 145% 400px;
        background-position: 50% 100%;
      }
      @include u.breakpoint(large) {
        background-size: 145% calc(2vw + 400px);
      }
    }
    .inspires__wrapper {
      opacity: 0;
      visibility: hidden;
      margin: u.rem(125) 0 0 u.rem(277);
      @include u.flexAlignJustify(center);
      span {
        font-size: u.rem(22);
        font-weight: 500;
        font-family: u.$font-UI;
        color: color.$purple-introduction;
        margin-left: 1rem;
      }
      // animation: inspiresAnimation 0.8s ease 1s 1 forwards;
      &.trigger--animation {
        animation: inspiresAnimation 0.8s ease 1s 1 forwards;
      }
    }
    .detailzone__wrapper {
      width: 100%;
      margin-top: u.rem(68);
      @include u.flexAlignJustify(center, center);
      .zonetitle__wrapper {
        width: u.rem(662);
        border-right: solid 1px color.$gray-introduction;
        @include u.flexAlignJustify(center);
        padding: 1rem;
        span {
          font-family: u.$font-UI;
          font-size: u.rem(45);
          font-weight: 400;
          line-height: 3.4rem;
          color: color.$purple-introduction;
        }
      }
      .zonedescription__wrapper {
        width: u.rem(662);
        @include u.flexAlignJustify(center);
        padding: 0 2rem 0 5rem;
        p {
          font-size: u.rem(20);
          font-weight: 300;
          line-height: 2rem;
        }
      }
    }
    // SLIDER
    .slider__container {
      height: u.rem(480);
      width: 100%;
      position: relative;
      .slider__wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        @include u.flexAlignJustify(center, center);
        .product__wrapper {
          position: absolute;
          overflow: hidden;
          height: 100%;
          @include u.flexAlignJustify(center, center);
          gap: 1rem;
          z-index: 4;
          transition: all 1s ease;
          img {
            opacity: 0;
            visibility: hidden;
            height: u.rem(412);
          }
          &.active {
            img {
              &:nth-child(1) {
                animation: sliderAnimation 0.5s ease-in 0s 1 forwards;
              }
              &:nth-child(2) {
                animation: sliderAnimation 0.5s ease-in 0.2s 1 forwards;
              }
              &:nth-child(3) {
                animation: sliderAnimation 0.5s ease-in 0.4s 1 forwards;
              }
            }
          }
          &.disappear {
            img {
              animation: sliderAnimation 0.5s ease-in 0s 1 forwards, smoothDisappearAnimation 0.5s ease 0s 1 forwards;
            }
          }
        }
      }
      .dot__container {
        position: relative;
        @include u.flexAlignJustify(center, center);
        .dot__wrapper {
          width: u.rem(70);
          @include u.flexAlignJustify(center, space-between);
          .dot-btn {
            width: u.rem(10);
            height: u.rem(10);
            border-radius: 50%;
            position: relative;
            border: none;
            z-index: 4;
            &:nth-child(1) {
              background-color: color.$rose-introduction;
            }
            &:nth-child(2) {
              background-color: color.$purple-introduction;
            }
            &:nth-child(3) {
              background-color: color.$blue-introduction;
            }
          }
        }
      }
    }
  }
}
@keyframes inspiresAnimation {
  from {
    transform: translateX(5%);
    opacity: 0;
    visibility: hidden;
  }
  to {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes sliderAnimation {
  from {
    transform: translateX(30%);
    opacity: 0;
    visibility: hidden;
  }
  to {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes smoothDisappearAnimation {
  from {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
  to {
    transform: translateX(0);
    opacity: 0;
    visibility: hidden;
  }
}
.bot__wrapper {
  @include u.flexAlignJustify(center, center);
  gap: 2rem;
  height: u.rem(570);
  .detailbox {
    width: clamp(u.rem(250), 16%, u.rem(400));
    padding: u.rem(30) 0;
    transition: all 0.3s ease;
    .img__wrapper {
      @include u.flexAlignJustify(center, center);
      position: relative;
      height: u.rem(100);
      width: 100%;
      img {
        position: absolute;
        transition: all 0.3s ease;
        &:nth-child(2) {
          opacity: 0;
          visibility: hidden;
        }
      }
    }
    .text__wrapper {
      padding: u.rem(45) 0 u.rem(20);
      span {
        font-size: u.rem(21);
        font-weight: 500;
        line-height: 2rem;
        font-family: u.$font-UI;
        color: color.$purple-introduction;
        display: block;
        text-align: center;
      }
      p {
        display: block;
        text-align: center;
        margin: u.rem(9) 0;
        color: color.$light-indigo-introduction;
      }
    }
    &:hover {
      transform: translateY(-6%);
      box-shadow: 0 0 3em 0rem color.$light-blue-shadow-introduction;
      .img__wrapper {
        img {
          &:nth-child(1) {
            opacity: 0;
            visibility: hidden;
          }
          &:nth-child(2) {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
}
//Z-INDEX
// headphone: 2
// dividershape: 3
// img-slider: 4
