@use "../../utils" as u;
@use "../../global/colors" as color;
.newtech__wrapper {
  width: 100%;
  height: u.rem(724);
  @include u.flexAlignJustify(stretch, center);
  padding-top: u.rem(105);
  gap: 2rem;
  .img__wrapper {
    width: u.rem(635);
    display: inline-block;
    position: relative;
    padding-top: u.rem(25);
    img {
      width: u.rem(320);
      overflow: hidden;
      &:nth-child(1) {
      }
      &:nth-child(2) {
        position: absolute;
        top: u.rem(90);
        left: u.rem(290);
        border-radius: u.rem(8);
        box-shadow: 0 0 2em 0rem color.$light-blue-shadow-newtech;
      }
    }
  }
  .text__wrapper {
    width: u.rem(635);
    display: inline-block;
    padding: u.rem(60) u.rem(40) 0 u.rem(90);
    .newtech__title {
      h2 {
        font-size: u.rem(45);
        font-weight: 400;
        font-family: u.$font-UI;
      }
      p {
        margin-top: u.rem(30);
        font-size: u.rem(20);
        font-weight: 300;
        line-height: 2rem;
      }
    }
    .newtech-cert__wrapper {
      margin-top: u.rem(50);
      @include u.flexAlignJustify(stretch, center);
      gap: 1.8rem;
      .cert-text__wrapper {
        padding: u.rem(7) u.rem(90) 0 0;

        span {
          font-size: u.rem(22);
          font-weight: 500;
          line-height: 2rem;
          font-family: u.$font-UI;
        }
        p {
          padding-top: u.rem(10);
        }
      }
    }
  }
}
