$rose: #ff8a73;
$blue: #5580ff;
$red: #ef2853;
$purple: #44475a;
$indigo: #716e86;
// navbar
$white-navbar: #fff;
$black-navbar: #101014;
$gray-navbar: #827e8f;
$blue-navbar: #5580ff;
$light-blue-shadow-navbar: #a0ade7;
// introduction
$black-introduction: #101014;
