$rose: #ff8a73;
$blue: #5580ff;
$red: #ef2853;
$purple: #44475a;
$indigo: #716e86;
// preloader
$white-preloader: #fff;
$rose-preloader: #ff8a73;
// navbar
$white-navbar: #fff;
$black-navbar: #101014;
$gray-navbar: #827e8f;
$blue-navbar: #5580ff;
$purple-navbar: #44475a;
$rose-navbar: #ff8a73;
$light-blue-shadow-navbar: #a0ade7;
// introduction
$black-introduction: #101014;
