$rose: #ff8a73;
$blue: #5580ff;
$red: #ef2853;
$purple: #58468c;
$indigo: #716e86;
$gray: #827e8f;
$white: #fff;
// preloader
$white-preloader: #fff;
$rose-preloader: #ff8a73;
// navbar
$white-navbar: #fff;
$black-navbar: #101014;
$gray-navbar: #827e8f;
$blue-navbar: #5580ff;
$purple-navbar: #58468c;
$rose-navbar: #ff8a73;
$light-blue-shadow-navbar: #a0ade7;
$indigo-navbar: #716e86;
// introduction
$black-introduction: #101014;
$rose-introduction: #ff8a73;
$blue-introduction: #5580ff;
$red-introduction: #ef2853;
$purple-introduction: #58468c;
$indigo-introduction: #716e86;
$white-introduction: #fff;
$gray-introduction: #827e8f;
$light-blue-shadow-introduction: #c2cdff;
$light-indigo-introduction: #716c80;
//video
$black-video: #101014;
$rose-video: #ff8a73;
$blue-video: #5580ff;
$red-video: #ef2853;
$purple-video: #58468c;
$purple-transparent-video: #57468cc0;
$indigo-video: #716e86;
$white-video: #fff;
$gray-video: #827e8f;
$light-blue-shadow-video: #c2cdff;
//newtech
$black-newtech: #101014;
$rose-newtech: #ff8a73;
$blue-newtech: #5580ff;
$red-newtech: #ef2853;
$purple-newtech: #58468c;
$indigo-newtech: #716e86;
$white-newtech: #fff;
$gray-newtech: #827e8f;
$light-blue-shadow-newtech: #c2cdff;
//multihover
$black-multihover: #101014;
$rose-multihover: #ff8a73;
$blue-multihover: #5580ff;
$red-multihover: #ef2853;
$purple-multihover: #58468c;
$indigo-multihover: #716e86;
$white-multihover: #fff;
$gray-multihover: #827e8f;
$light-blue-shadow-multihover: #c2cdff;
//lazy loading
$black-lazyloading: #101014;
$rose-lazyloading: #ff8a73;
$blue-lazyloading: #5580ff;
$red-lazyloading: #ef2853;
$purple-lazyloading: #58468c;
$indigo-lazyloading: #716e86;
$white-lazyloading: #fff;
$gray-lazyloading: #827e8f;
$light-blue-shadow-lazyloading: #c2cdff;
$light-blue-bar-lazyloading: #7bb9ff;
$light-gray-lazyloading: #f0f5ff;
$light-indigo-lazyloading: #716c80;
//button
$rose-button: #ff8a73;
$blue-button: #5580ff;
//footer
$indigo-footer: #292933;
$white-footer: #fff;
$rose-footer: #ff8a73;
$light-indigo-footer: #716c80;
$blue-twitter-footer: #2fb1ea;
$dark-indigo-footer: #25252e;
//back-to-top
$white-back-to-top: #fff;
$rose-back-to-top: #ff8a73;
//searchbar
$white-searchbar: #fff;
$rose-searchbar: #ff8a73;
$gray-searchbar: #827e8f;
$blue-searchbar: #5580ff;
//sidebar
$white-sidebar: #fff;
$rose-sidebar: #ff8a73;
