@use "../utils" as u;
@use "colors" as color;
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
  color: color.$purple;
}
h1 {
  font-size: clamp(u.rem(28), u.rem(16) + 2vw, u.rem(40));
}
h2 {
  font-size: clamp(u.rem(22), u.rem(14) + 1.5vw, u.rem(36));
}
p,
span {
  margin-top: 0;
  font-size: u.rem(16);
  color: color.$indigo;
  font-family: u.$font-text;
}
a,
a:visited,
a:active {
  text-decoration: none;
  cursor: pointer;
}

::-moz-selection {
  /* Code for Firefox */
  color: color.$white;
  background: color.$rose;
}

::selection {
  color: color.$white;
  background: color.$rose;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}
