@use "../utils" as u;
@use "../global/colors" as color;
.header__wrapper {
  height: u.rem(120);
  padding: 0 u.rem(40);
  background-color: color.$black-navbar;
  @include u.flexAlignJustify(center, space-between);
  .logo__wrapper {
    width: u.rem(104);
    height: auto;
    object-fit: cover;
    a {
      @include u.flexAlignJustify(center);
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }
  .navbar__wrapper {
    margin-left: auto;
    @include u.flexAlignJustify(center);
    height: 100%;
    position: relative;
    .nav {
      &__item {
        padding: 0 u.rem(23);
        height: 100%;
        position: relative;
        a {
          height: 100%;
          @include u.flexAlignJustify(center);
          .item__text {
            font-family: u.$font-UI;
            font-size: u.rem(14);
            font-weight: 500;
            color: color.$white-navbar;
            letter-spacing: u.rem(1.19);
            position: relative;
            &::before {
              content: "";
              position: absolute;
              width: u.rem(6);
              height: u.rem(6);
              background-color: transparent;
              border-radius: 50%;
              top: 50%;
              left: -0.8rem;
              transform: translateY(-50%);
              transition: all 0.3s ease;
            }
          }
        }
        .dropdown__list {
          position: absolute;
          z-index: 2;
          width: u.rem(260);
          background-color: color.$white-navbar;
          padding: u.rem(24) 0;
          top: u.rem(120);
          border-radius: u.rem(10);
          box-shadow: 0 0 1rem 0.01rem color.$light-blue-shadow-navbar;
          opacity: 0;
          visibility: hidden;
          transition: all 0.2s 0.2s ease;
          .dropdown__item {
            position: relative;
            height: u.rem(40);
            width: 100%;
            padding: 0 u.rem(33);
            @include u.flexAlignJustify(center, space-between);
            span {
              font-weight: 300;
              color: color.$gray-navbar;
              transition: all 0.2s ease;
              position: relative;
              &::before {
                content: "";
                position: absolute;
                width: u.rem(6);
                height: u.rem(6);
                background-color: color.$blue;
                opacity: 0;
                visibility: hidden;
                border-radius: 50%;
                top: 50%;
                transform: translateY(-50%);
              }
            }
            .fa-angle-right,
            .fa-angle-left {
              color: color.$blue-navbar;
            }
          }
          .sublist {
            position: relative;
            .sublistbox {
              top: -15%;
              position: absolute;
              z-index: 3;
              width: u.rem(260);
              background-color: color.$white-navbar;
              padding: u.rem(24) 0;
              border-radius: u.rem(10);
              box-shadow: 0 0 1rem 0.01rem color.$light-blue-shadow-navbar;
              opacity: 0;
              visibility: hidden;
              transition: all 0.2s 0.2s ease;
            }
            &:hover {
              .sublistbox {
                visibility: visible;
                opacity: 1;
              }
            }
          }
          &.ddlist--bigtab {
            @include u.flexAlignJustify(stretch, center);
            width: 100vw;
            right: calc(100% - 331px);
            border-radius: 0;
            padding: u.rem(55) 0;
            .dropdown__col {
              width: u.rem(325);
              padding: 0 u.rem(25);
              .col__title {
                font-size: u.rem(14);
                font-family: u.$font-UI;
                letter-spacing: u.rem(1.19);
                font-weight: 500;
                color: color.$purple-navbar;
              }
              .dropdown__item {
                padding: 0;
                span {
                  &::before {
                    left: u.rem(calc(-1 * 16));
                    transition: all 0.2s ease;
                  }
                }
                &:hover {
                  span {
                    transform: translateX(1rem);
                    &::before {
                      opacity: 1;
                      visibility: visible;
                      transform: translateY(-50%);
                    }
                  }
                }
              }
            }
          }
        }
        &:first-child {
          .item__text {
            &::before {
              background-color: color.$blue;
            }
          }
          .dropdown__item:nth-child(10) {
            span {
              transform: translateX(1rem);
              &::before {
                opacity: 1;
                visibility: visible;
                transform: translateY(-50%);
              }
            }
          }
        }
        &:hover {
          .item__text::before {
            background-color: color.$blue;
            transform: translateY(-50%);
          }
          .dropdown__list {
            visibility: visible;
            opacity: 1;
          }
        }
      }
      &__icon {
        height: 100%;
        @include u.flexAlignJustify(center, center);
        .icon__wrapper {
          @include u.flexAlignJustify(center, center);
          width: u.rem(40);
          height: u.rem(40);
          color: color.$white-navbar;
          font-size: 1.3rem;
          margin-left: 1rem;
          .fa-cart-shopping {
            position: relative;
            transition: all 0.2s 0.2s ease;
            &::after {
              content: "0";
              position: absolute;
              background-color: color.$rose;
              width: 1rem;
              height: 1rem;
              font-size: u.rem(10);
              font-weight: 300;
              @include u.flexAlignJustify(center, center);
              border-radius: 50%;
              right: calc(-1 * 1rem);
              top: 0;
              transform: translate(-50%, -50%);
            }
          }
        }
        &.shopping__cart {
          position: relative;
          .cart__detail {
            position: absolute;
            background-color: color.$white-navbar;
            width: u.rem(400);
            height: u.rem(88);
            @include u.flexAlignJustify(center);
            padding: 0 2rem;
            border-radius: u.rem(10);
            right: 0;
            top: u.rem(120);
            transform: translateY(20%);
            opacity: 0;
            visibility: hidden;
            transition: all 0.2s 0.2s ease;
            span {
              font-family: u.$font-text;
              font-weight: 300;
              color: color.$gray-navbar;
            }
          }
          &:hover {
            .cart__detail {
              visibility: visible;
              opacity: 1;
              transform: translateY(0);
            }
            .fa-cart-shopping {
              color: color.$rose-navbar;
              &::after {
                color: color.$white-navbar;
              }
            }
          }
        }
        &.search {
          position: relative;
          .icon__wrapper .fa-magnifying-glass {
            transition: all 0.2s ease;
          }
          .search__bar {
            @include u.flexAlignJustify(center);
            width: 100vw;
            height: u.rem(120);
            position: absolute;
            right: calc(-1 * u.rem(96));
            background-color: color.$white-navbar;
            padding: u.rem(40) u.rem(100);
            opacity: 0;
            visibility: hidden;
            .fa-magnifying-glass {
              color: color.$gray-navbar;
              font-size: 1.3rem;
            }
            input {
              font-size: u.rem(14);
              font-family: u.$font-UI;
              font-weight: 500;
              letter-spacing: u.rem(1.19);
              padding-left: u.rem(50);
              width: u.rem(1400);
              border: none;
              margin-right: auto;
            }
            .xmark__wrapper {
              width: u.rem(40);
              height: u.rem(40);
              background-color: color.$blue-navbar;
              border-radius: u.rem(5);
              @include u.flexAlignJustify(center, center);
            }
            .fa-xmark {
              color: color.$white-navbar;
              font-size: 1.3rem;
            }
          }
          &:hover {
            .fa-magnifying-glass {
              color: color.$rose-navbar;
            }
          }
        }
        &.menu {
          .icon__wrapper {
            background-color: color.$blue;
            border-radius: u.rem(5);
            transition: all 0.2s ease;
          }
          &:hover {
            .icon__wrapper {
              background-color: color.$rose-navbar;
            }
          }
        }
      }
    }
  }
}
@for $i from 1 through 5 {
  .nav__item:nth-child(#{$i}) {
    @if $i < 4 {
      .dropdown__list {
        left: u.rem(calc(-1 * 20));
        .dropdown__item {
          span {
            &::before {
              left: u.rem(calc(-1 * 16));
              transition: all 0.2s ease;
            }
          }
          &:hover {
            span {
              transform: translateX(1rem);
              &::before {
                opacity: 1;
                visibility: visible;
                transform: translateY(-50%);
              }
            }
          }
        }
        .sublist {
          .sublistbox {
            left: 95%;
          }
        }
      }
    } @else {
      .dropdown__list {
        right: u.rem(calc(-1 * 10));
        .dropdown__item {
          span {
            margin-left: auto;
            &::before {
              right: u.rem(calc(-1 * 16));
              transition: all 0.2s ease;
            }
          }
          &:hover {
            span {
              transform: translateX(calc(-1 * 1rem));
              &::before {
                opacity: 1;
                visibility: visible;
                transform: translateY(-50%);
              }
            }
          }
        }
        .sublist {
          .sublistbox {
            right: 95%;
          }
        }
      }
    }
  }
}
