@use "../global/colors" as color;
@use "../utils" as u;
.search__bar {
  @include u.flexAlignJustify(center);
  width: 100vw;
  height: u.rem(120);
  position: absolute;
  z-index: 999;
  background-color: color.$white-searchbar;
  padding: 0 u.rem(100);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  box-shadow: 0 0 1rem 0.01rem color.$light-blue-shadow-navbar;
  .fa-magnifying-glass {
    color: color.$gray-searchbar;
    font-size: 1.3rem;
  }
  input {
    font-size: u.rem(14);
    font-family: u.$font-UI;
    font-weight: 500;
    letter-spacing: u.rem(1.19);
    padding-left: u.rem(50);
    width: auto;
    border: none;
    margin-right: auto;
  }
  .xmark__wrapper {
    width: u.rem(40);
    height: u.rem(40);
    background-color: color.$blue-searchbar;
    border-radius: u.rem(5);
    @include u.flexAlignJustify(center, center);
    transition: all 0.3s ease;
    .fa-xmark {
      color: color.$white-searchbar;
      font-size: 1.3rem;
    }
    &:hover {
      background-color: color.$rose-searchbar;
    }
  }
  &.show-searchbar {
    opacity: 1;
    visibility: visible;
  }
  &.active {
    position: fixed;
    top: 0;
    height: u.rem(70);
  }
}
